* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

header {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    padding: 80px 10%;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    max-width: 500px;
    margin-bottom: 25px;
    color: #cbd5e1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 60px 10%;
}

.section h3 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #38bdf8;
}

.skills, .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.chain {
    background: #1e293b;
    padding: 20px;
    width: 323px;
    height: 150px;
    border-radius: 10px;
    transition: 0.3s;
    margin-left: 125px;
    margin-top: -40px;
}
.chain:hover{
    transform: translateY(-5px);
    background: #334155;
}

.card:hover {
    transform: translateY(-5px);
    background: #334155;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
    font-size: 14px;
    color: #94a3b8;
}
.one {
    color: #38bdf8;
    text-decoration: none;
}
.two {
    color: white;
    text-decoration-line: none;
}

/* Mobile */
@media(max-width: 768px){
    .hero h2 {
        font-size: 28px;
    }
    .chain {
        margin-left: 45px;
        width: 323px;
    }
}